@model IEnumerable<WebBuscar.Models.Property>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rent)
            </td>
           
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

